fastapi==0.115.3
uvicorn[standard]==0.32.0
python-multipart==0.0.20

psycopg2-binary==2.9.10

pandas==2.3.3
openpyxl==3.1.5
numpy==2.2.6

joblib==1.5.3
scikit-learn==1.7.2
catboost==1.2.10
xgboost==3.2.0

